/////////////////////////
/////  BACKGROUND //////

bgs( )
  for $clase, $color in arguments
    .bg-{$clase}
      background: none
      background-color: $color    
    
txts( )
  for $clase, $color in arguments
    .text-{$clase}
      color: $color    