///////////////////////
//  POSITION MIXIN  //

_position( type, args )
  position type
  if ( length( args ) > 1 ) 
    for i  in 0...length( args )  
      if !( args[i] is a 'unit' ) 
        {args[i]} args[i + 1] is a 'unit' ? args[i + 1] : 0px
    
relative()
  _position( relative, arguments )

absolute()
  _position( absolute, arguments )

fixed()
  _position( fixed, arguments )

